/* Inicio.css */

.cuerpo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../Img/fondo2.jpg');
  background-size: cover;
  background-position: center;
}
  
  @media (max-width: 768px) {
    .cuerpo {
      flex-direction: column;
      align-items: center;
    }
  }
  
  
  
 
  @media (max-width: 768px) {
    .circulo {
      width: 250px;
      height: 170px;
      font-size: 1.2em;
    }
  }
  
  
  
  @media (max-width: 768px) {
    .canchas {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  
  .pie {
    height: auto;
    background-color: #424949;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
    margin-top: auto;
  }
  
  .direcciones {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
  }
  
  .direcciones ul {
    list-style: none;
    padding: 20px;
    margin: 0 0 20px;
  }
  
  .direcciones > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .highlight {
    color: #3498DB;
    font-weight: bold;
  }
  
  .campus1, .campus2, .campus3, .campus4 {
    width: 45%;
  }

  .campus1, .campus3{
    margin-left: 150px;
  }

  .campus2, .campus4{
    margin-left: 170px;
  }

  .direcciones h3{
    margin-left: 150px;
  }
  
  .telefonos {
    width: 50%;
    text-align: right;
    margin-right: 150px;
    margin-top: 30px;
  }

  @media (min-height: 768px) {
    .pie .numero2 ul {
      margin-top: 106px;
    
    }
  }
  
  

  

  
  .telefonos ul {
    list-style: none;
    padding: 10px;
    margin: 0 0 20px;
  }
  
  .telefonos li {
    margin-bottom: 5px;
  }
  
  .icon {
    margin-right: 8px; 
    color: white;
  }
.reserva-button{
  width: 300px;
  height: 180px; /* Mismo tamaño de altura para ambos botones */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
  margin-top: auto;
  transition: background-color 0.5s ease-in-out;


}

.reserva-button a{
  text-decoration: none;
  border: 2px solid #010100;
  padding: 40px; /* Mismo padding para ambos botones */
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 20px; /* Mismo tamaño de texto */

}

.reserva-button a::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 152, 219, 0.6); /* Transparencia aplicada también al pseudo-elemento */
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}
  
.reserva-button a:hover::before{
  transform: scaleY(0);
}

.reserva-button a::after{
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

.reserva-button a:hover::after{
  background-color: rgba(0, 0, 0, 0.6);
  transform: scaleX(1);
}


.btn-1,
.btn-2 {
  width: 300px;
  height: 180px; /* Mismo tamaño de altura para ambos botones */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 0px;
  transition: background-color 0.5s ease-in-out;
}

.auth-buttons span,
.reserva-button span {
  position: relative;
  z-index: 3;
}

.btn-1 a,
.btn-2 a {
  text-decoration: none;
  border: 2px solid #010100;
  padding: 40px; /* Mismo padding para ambos botones */
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 20px; /* Mismo tamaño de texto */

}

.btn-1 a::before,
.btn-2 a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 152, 219, 0.6); /* Transparencia aplicada también al pseudo-elemento */
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.btn-1 a:hover::before,
.btn-2 a:hover::before {
  transform: scaleY(0);
}

.btn-1 a::after,
.btn-2 a::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

.btn-1 a:hover::after,
.btn-2 a:hover::after {
  background-color: rgba(0, 0, 0, 0.6);
  transform: scaleX(1);
}


.btn-2 a {
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}








  
