.inicio {
  background-image: url('../Img/fondo.jpg'); /* Fondo general de la sección */
  background-size: cover;
  padding: 20px;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inicio-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.card {
  background-color: white;
  background-image: url('../Img/fondotest.png'); /* Fondo general de la card */
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 500px; /* Ancho fijo */
  min-height: 300px; /* Altura mínima para permitir contenido adicional */
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos se ajusten */
  align-items: flex-start; /* Alinear elementos al inicio */
  text-align: left;
  margin: 20px;
  box-sizing: border-box; /* Incluir padding y borde en el tamaño total */
}

.card .info {
  flex: 1; /* Espacio flexible para los textos */
}

.card .info p {
  margin: 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #333; /* Color oscuro */
}

.card .info p strong {
  font-weight: bold;
  color: #111; /* Color más oscuro para títulos */
}

.card .image-container {
  width: 200px; /* Ancho fijo para la imagen */
  height: 60px; /* Alto deseado */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-left: 20px;
  flex-shrink: 0; /* Evitar que el tamaño de la imagen se reduzca */
}

h1 {
  color: white; /* Letras blancas para el título */
}


p {
  margin: 5px 0; /* Margen para los párrafos */
  font-size: 16px; /* Tamaño de fuente de los párrafos */
}

.logout-button {
  background-color: rgba(255, 0, 0, 0.3); /* Rojo transparente */
  border: 2px solid rgba(255, 0, 0, 0.5); /* Borde rojo más oscuro */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s; /* Animación de transición */
  margin-top: 20px;
  display: block;
  text-align: center;
}

.logout-button:hover {
  background-color: rgba(255, 0, 0, 0.5); /* Color más intenso al pasar el cursor */
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
}

