.inicio {
  background-image: url('../Img/fondo.jpg'); /* Imagen de fondo */
  background-size: cover; /* Asegúrate de que cubra todo el fondo */
  padding: 20px;
  min-height: 100vh; /* Altura mínima para cubrir toda la pantalla */
  display: flex;
  flex-direction: column; /* Mantiene el contenido en columna */
  align-items: center; /* Alinea el contenido al centro */
}

.inicio-content {
  display: flex; /* Usar flexbox para el contenido */
  flex-direction: row; /* Disposición en fila para los cards */
  justify-content: center; /* Centra los cards horizontalmente */
  flex-wrap: wrap; /* Permite que los cards se envuelvan si no hay suficiente espacio */
  width: 100%; /* Ancho total del contenedor */
  margin-top: 20px; /* Margen superior */
}

.card {
  background-color: white;
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 250px; /* Aumenta el ancho */
  height: 150px; /* Añade altura para hacerla más rectangular */
  text-align: center;
  margin: 20px; /* Espaciado entre los cards */
}



h1 {
  color: white; /* Letras blancas para el título */
}


p {
  margin: 5px 0; /* Margen para los párrafos */
  font-size: 16px; /* Tamaño de fuente de los párrafos */
}

