.animated-error {
    animation: fadeIn 0.5s ease-in-out;
    color: red;
    font-size: 0.9em;
    margin-top: 0.25rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Register.css */
h2{
    text-align: center;
}

#register-container {
    position: relative;
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3); /* Fondo gris con transparencia */
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  #register-container input {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: #f1f1f1;
  }
  
  #register-container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  #register-container input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  #register-container .redirect-message {
    text-align: center;
    margin-top: 10px;
  }
  
  #register-container .redirect-message a {
    color: #007bff;
    text-decoration: none;
  }
  
  #register-container .redirect-message a:hover {
    text-decoration: underline;
  }
  