.reservas-especiales {
  background-color: #e0f7fa; /* Azul claro */
  padding: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservas-table {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.reservas-table ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}

.reserva-item {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
  border-radius: 5px;
  margin-bottom: 10px;
}

.reserva-item:hover {
  background-color: #f1f1f1; /* Color gris claro en hover */
}

.reserva-left {
  flex: 2; /* Se expande más para ocupar más espacio en la izquierda */
  text-align: left; /* Alinear textos a la izquierda */
}

.pdf-button-container {
  display: flex;
  justify-content: center; /* Centra el botón "Descargar PDF" */
  flex: 1; /* El contenedor del botón ocupa un tamaño fijo en el medio */
  padding: 0 15px; /* Añadir padding para evitar que se pegue a los lados */
}

.reserva-right {
  flex: 1; /* Ocupa espacio a la derecha */
  display: flex;
  justify-content: flex-end; /* Alinear los botones a la derecha */
}

.estado-botones {
  display: flex;
  gap: 10px; /* Espaciado entre botones */
}

.boton-confirmar, .boton-rechazar {
  background-color: #3498DB;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton-confirmar:hover {
  background-color: #2e86c1; /* Color más oscuro en hover */
}

.boton-rechazar {
  background-color: #e74c3c; /* Color rojo para rechazar */
}

.boton-rechazar:hover {
  background-color: #c0392b; /* Color más oscuro en hover */
}

.reservas-button {
  background-color: #3498DB;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reservas-button:hover {
  background-color: #004d40; /* Color más oscuro en hover */
}
